.login {
    background-image: url(../img/fundo.webp);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 24px;
    font-size: 32px;
    font-weight: 500;
    gap: 16px;
}

.btnEntrar {
    width: 30%;
    padding: 8px 0px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
}

.btnEntrar:hover {
    width: 60%;
    transition: 1.5s;
}

.formulario label {
    display: flex;
    font-size: 16px;
}

.formulario input {
    display: flex;
    width: 330px;
    height: 32px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
}

input::placeholder {
    padding: 8px;
    font-size: 14px;
    opacity: 50%;
}

input:focus {
    width: 350px;
}
